# File folders
simulation/doc/
simulation/build/
.vscode/
simulation/mix/
simulation/.waf*/
simulation/waf-tools/

# Compiled Dynamic libraries
*.dll
*.dylib
*.so

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# exe
trace_reader